<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Academy!
  </h1>
</div>

<nav>
    <div class="col-sm-1 col-sm-offset-4">
        <a routerLink="/">
          <button class="btn-success">Home</button>
        </a>
    </div>

  <div class="col-sm-1">
      <a routerLink="/about">
        <button class="btn-success">About</button>
      </a>
  </div>


  <div *ngIf="!login" class="col-sm-1">
      <a routerLink="/login">
        <button class="btn-success">login</button>
      </a>
  </div>
  <div *ngIf="login" class="col-sm-1">
      <a routerLink="/about">
        <button class="btn-success">logout</button>
      </a>
  </div>
  
</nav>
<router-outlet (activate)='onActivate($event)' class="col-sm-12"></router-outlet>
