<div class="container body-content span=8 offset=2">
    <div class="well">
        <div class="form-horizontal">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label for="firstname" class="col-sm-4 control-label">first name:</label>
                    <div class="col-sm-4 ">
                        <input [(ngModel)]="firstName" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">last name:</label>
                    <div class="col-sm-4 ">
                        <input [(ngModel)]="lastName" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">user name:</label>
                    <div class="col-sm-4 ">
                        <input [(ngModel)]="userName"class="form-control" type="text">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-4 ">
                        <input [(ngModel)]="email"class="form-control" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">password:</label>
                    <div class="col-sm-4 ">
                        <input [(ngModel)]="password"class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm password:</label>
                    <div class="col-sm-4 ">
                        <input [(ngModel)]="confirmPassword"class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a routerLink="/">
                          <button class="btn btn-danger">cancel</button>
                        </a>
                        <button (click)="submit()" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </fieldset>
          </div>
    </div>
</div>
