div{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: orange;
}
tr:nth-child(odd) {
    background-color: rgb(236, 178, 236);
}

tr:hover{
    background-color: greenyellow;
    color: blue;
}
th{
    background-color: aqua;
}
div,th,td{
    text-align: center;
}
#course{
    font-size: 40px;
    color: red;
}